.modal {
  min-height: 500px;
  position: fixed;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1c21;
  top: calc(50vh - 300px);
  left: calc(50vw - 300px);
  border-radius: 40px;
  border: 1px solid rgba(76, 76, 255, 0.2);
  width: 620px;
  z-index: 2;
}

.title {
  text-align: start;
}

.main {
  display: flex;
  position: relative;
  z-index: 6;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.icon {
  position: absolute;
  cursor: pointer;
  top: 40px;
  right: 40px;
}
